name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Create target directory and copy jar files
        run: |
          mkdir -p target
          cp build/libs/*.jar target/
      
      - name: Push artifact to GitHub repository
        run: |
          git config --global user.name 'r1nb0'
          git config --global user.email 'ilia.mesha12@gmail.com'
          git init
          git add target/*.jar
          git commit -m 'Add artifact'
          git remote add origin git@github.com:r1nb0/GeoData.git
          git push -u origin master
